{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-2 mb-4">Nieuwe klas</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="form-control btn btn-outline-success" value="Maak klas aan">
    {{ form_end(form) }}



    </form>

{% endblock %}