{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-2 mb-4">Nieuwe leerling <span class="text-muted">in klas 2J</span></h1>

    <form method="post" action="{{ path('slb') }}">

        <div class="form-group row mt-3 ">
            <label class="col-sm-3">Leerlingen: </label>
            <ol class=" col">
                <li>Tom Baak</li>
                <li>Tom Baak</li>
            </ol>
            <div class="col border p-2 rounded">
                <form>
                    <input class="form-control mb-2" type="text" id="l_name" placeholder="Naam leerling">
                    <input class="form-control mb-2" type="text" id="l_id" placeholder="Leerlingnummer">
                    <a href="#" class="btn btn-outline-success w-100"><i class="fas fa-user-plus"></i> Leerling toevoegen</a>
                </form>
            </div>

        </div>
        <div class="form-group row mt-3 ">
            <label class="col-sm-3"></label>
            <input type="submit" class="form-control col btn btn-outline-success" value="Maak klas aan">
        </div>


    </form>

{% endblock %}