{% extends 'base.html.twig' %}

{% block backLink %}

    {{ path('home') }}

{% endblock %}

{% block body %}

    <div class="container w-75">

        <h1 class="mt-2 mb-4"><i class="fas fa-user-plus"></i> Nieuwe klas</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="form-control btn btn-outline-success" value="Maak klas aan">
        {{ form_end(form) }}

        </form>

    </div>

{% endblock %}