{% extends 'base.html.twig' %}

{% block backLink %}

    {{ path('home') }}

{% endblock %}

{% block body %}

    <div class="container w-75 mx-auto">

    <h1 class="mt-3 mb-4"><i class="far fa-calendar-plus"></i> Nieuwe uitnodiging</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="form-control col btn btn-outline-success" value="Verstuur uitnodiging">
    {{ form_end(form) }}

    </div>

{% endblock %}