{% extends 'base.html.twig' %}

{% block backLink %}

    {{ path('administrator') }}

{% endblock %}

{% block body %}

    <h1 class="mt-2 mb-4">Nieuw SLB account</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="form-control col btn btn-outline-success" value="Maak account aan">
    {{ form_end(form) }}






{% endblock %}