{% extends 'base.html.twig' %}

{% block body %}

    <div class="container w-75 m-auto">
        <div class="row">
            <div class="col">
                <h1 class="text-center p-3"><i class="fas fa-calendar-check"></i> Afspraken</h1>

                {% if afspraken %}

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Tijd:</th>
                        <th>Naam student:</th>
                        <th>Met ouders of alleen:</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for afspraak in afspraken %}
                    <tr>
                        <td>{{ afspraak.time|date('H:i') }}</td>
                        <td>{{ afspraak.student.naam }}</td>
                        <td>{% if afspraak.withParents %}Met ouders{% else %}Alleen{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
                </tbody>

                {% else %}
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Er zijn nog geen afspraken gemaakt
                    </h3>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}