{% extends 'base.html.twig' %}

{% block body %}

    <div>

            <h1 class="pb-3 pt-3 w-100"><i class="fas fa-calendar-alt"></i> Uitnodigingen</h1>

            {% if uitnodigingen %}
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th><i class="far fa-calendar-alt"></i> Datum</th>
                    <th><i class="far fa-calendar-plus"></i> Gemaakt:</th>
                    <th><i class="far fa-calendar-check"></i> Afspraken</th>
                    </thead>
                    <tbody>
                    {% for uitnodiging in uitnodigingen %}
                        <tr>
                            <td>{{ uitnodiging.date|date('j-M-Y') }}</td>
                            <td>{{ uitnodiging.gemaaktOp|date('j-M-Y H:i') }}</td>
                            <td><a href="{{ path('slb_afspraken',{id: uitnodiging.id}) }}">Bekijk gemaakte
                                    afspraken <span class="badge badge-pill badge-primary position-relative">{{ uitnodiging.afspraken|length }}</span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 class=""><i class="far fa-calendar-times text-warning"></i> Er zijn
                    nog geen uitnodigingen aangemaakt</h3>
            {% endif %}

        </div>

{% endblock %}