{% extends ('base.html.twig') %}

{% block body %}
        <h1 class="rocmon-font text-center w-100 mt-5"><i class="far fa-calendar-check"></i> SimplyPlan</h1>
        <p class="text-center">Welkom bij SimplyPlan van ROC Mondriaan. <a href="{{ path('login') }}">Log in</a> om de applicatie te gebruiken.</p>
{% endblock %}