{% extends 'base.html.twig' %}

{% block body %}

    <h1><i class="far fa-calendar-plus"></i> Nieuwe uitnodiging</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="form-control col btn btn-outline-success" value="Verstuur uitnodiging">
    {{ form_end(form) }}


{% endblock %}